## CONFIGURE CUSTOMER VRF

vrf definition {{item.VRF}}
 rd {{item.IP}}:{{item.L_BGP_AS}}
!
 address-family ipv4
 exit-address-family
!
!
!
## CONFIGURE CUSTOMER SUB-INTERFACE

interface GigabitEthernet2.{{item.ID}}
 description {{item.VRF}}
 encapsulation dot1Q {{item.ID}}
 vrf forwarding {{item.VRF}}
 ip address {{item.IP}} 255.255.255.252
!
!
!
## CONFIGURE BGP INTO CUSTOMER VRF

router bgp 65001
 bgp log-neighbor-changes
 !
 address-family ipv4 vrf {{item.VRF}}
  neighbor {{item.VRF}} peer-group
  neighbor {{item.VRF}} remote-as {{item.R_BGP_AS}}
  neighbor {{item.VRF}} local-as {{item.L_BGP_AS}} no-prepend replace-as
  neighbor {{item.VRF}} password 7 040A3C26216C1D7D3D3837
  neighbor {{item.VRF}} update-source GigabitEthernet2.{{item.ID}}
  neighbor {{item.VRF}} send-community both
  neighbor {{item.VRF}} route-map {{item.VRF}}-IN in
  neighbor {{item.VRF}} route-map {{item.VRF}}-OUT out
  neighbor {{item.R_IP}} peer-group {{item.VRF}}
  neighbor {{item.R_IP}} activate
 exit-address-family
!
!
!
## CONFIGURE PREFIX-LIST FROM CLOUD TO CUSTOMER

ip prefix-list {{item.VRF}}-IN seq 10 permit {{item.CLOUD_IP_1}}

{% if item.CLOUD_IP_2 !='NOT' %}
ip prefix-list {{item.VRF}}-IN seq 20 permit {{item.CLOUD_IP_2}}
{% endif %}

{% if item.CLOUD_IP_3 !='NOT' %}
ip prefix-list {{item.VRF}}-IN seq 30 permit {{item.CLOUD_IP_3}}
{% endif %}
!
!
!
## CONFIGURE ROUTE-MAP FROM CLOUD TO CUSTOMER

route-map {{item.VRF}}-IN permit 10
 description Permit IPs from {{item.CLOUD}}
 match ip address prefix-list {{item.VRF}}-IN
!
route-map {{item.VRF}}-IN deny 100
!
!
!
## CONFIGURE PREFIX-LIST FROM CUSTOMER TO CLOUD 

ip prefix-list {{item.VRF}}-OUT seq 10 permit {{item.CUSTOMER_IP_1}}

{% if item.CUSTOMER_IP_2 !='NOT' %}
ip prefix-list {{item.VRF}}-OUT seq 20 permit {{item.CUSTOMER_IP_2}}
{% endif %}

{% if item.CUSTOMER_IP_3 !='NOT' %}
ip prefix-list {{item.VRF}}-OUT seq 30 permit {{item.CUSTOMER_IP_3}}
{% endif %}
!
!
!
## CONFIGURE ROUTE-MAP FROM CUSTOMER TO CLOUD
route-map {{item.VRF}}-OUT permit 10
 description Permit IPs {{item.VRF}} to {{item.CLOUD}}
 match ip address prefix-list {{item.VRF}}-OUT 
!
route-map {{item.VRF}}-OUT deny 100
!



